

body {
  background: #fff;
  color: #343F49;
}

* {
  box-sizing: border-box;
}

path.state {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.top-image img {
  display: block;
}

.pagination {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4em;
  z-index: 30;
}

.pagination li {
  list-style: none;
}

.pagination a {
  display: block;
  height: 20px;
  margin-bottom: 5px;
  color: #fff;
  position: relative;
  padding: 4px;
}

.pagination a:after {
  -webkit-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  width: 10px;
  height: 10px;
  display: block;
  border: 1px solid;
  border-radius: 50%;
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  right: 4px;
  bottom: 0;
}

.pagination a.active:after {
  box-shadow: inset 0 0 0 5px;
}

h1.page-title {
  font-size: 3rem;
  letter-spacing: -.2px;
  line-height: 3.375rem;
  margin: 0;
}

h2.story-title {
  font-size: 2.5rem;
  letter-spacing: -.2px;
  line-height: 2.5rem;
  margin-top: 11.25px;
  margin-bottom: 0;
  color: #343F49;
}

.top-title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 300;
  margin-bottom: 11.25px;
  color: #5AC9E7;
}

.bar {
  height: 12px;
  width: 100px;
  background: #5AC9E7;
}

.wrap {
  padding: 0px 15px 45px 15px;
  width: 1170px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  z-index: 20;
}

.intro {
  padding-top: 10vh;
}

.content {
  padding-top: 45px;
}

.intro-text {
  max-width: 700px;
}

.wrap::after,
.stats-section::after,
.chart-block::after,
.section-content::after,
.stat::after,
.animated-chart-stat::after {
  content: "";
  clear: both;
  display: table;
}

.speed-chart {
  width: 100%;
}

.top-section-text {
  position: absolute;
  color: #fff;
  top: 10vh;
  width: 100%;
  z-index: 20;
}

.top-section-text p {
  margin-bottom: 0;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 50%;
  z-index: 10;
}

.top-gradient {
  background-image: linear-gradient(180deg,#222943,transparent);
  top: 0;
}

.bottom-gradient {
  background-image: linear-gradient(0deg,#222943,transparent);
  bottom: 0;
}

.story.speed .stats-section {
  margin-top: 90px;
}

.story.speed .chart-block {
  margin-top: 0;
}

.story-text,
.chart-text {
  font-size: 1.5rem;
  line-height: 2rem;
}

.chart-text {
  margin-top: 22.5px;
}

.story-text p:last-child,
.chart-text p:last-child {
  margin-bottom: 0;
}

.chart-text {
  max-width: 770px;
}

.chart-text p,
.story-text p {
  margin-top: 0;
  margin-bottom: 0;
}

.stats-section .story-text {
  float: left;
  margin-right: 90px;
  max-width: 770px;
}

.story.speed .intro {
  margin-bottom: 0;
}

.story.speed .chart-block {
  position: relative;
}

.story.speed .chart-text {
  position: absolute;
  left: 0;
  top: 0;
}

.speed-chart .axis path,
.speed-chart .axis line,
.customers-chart .axis path,
.customers-chart .axis line,
.adoption-chart .axis path,
.adoption-chart .axis line,
.infrastructure-chart .axis path,
.infrastructure-chart .axis line,
.cost-chart .axis path,
.cost-chart .axis line   {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.speed-chart .line,
.customers-chart .line,
.adoption-chart .line,
.infrastructure-chart .line,
.cost-chart .line {
  fill: none;
}

.infrastructure-chart .chart-bar {
  fill: #ccc;
}

.infrastructure-chart .chart-bar.blue {
  fill: #5AC9E7;
}

.infrastructure-chart .chart-bar.red {
  fill: #E71B4F;
}

.cost-chart .cost-chart-bar {
  fill: #E71B4F;
}

.speed-chart .x.axis path,
.customers-chart .x.axis path,
.adoption-chart .x.axis path,
.infrastructure-chart .x.axis path,
.cost-chart .x.axis path {
  display: inline;
}

.cost-chart-bar-label {
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: bold;
  opacity: 0;
  transition: all 0.5s;
  transition-timing-function: ease;
}

.cost-chart-bar-label.reveal {
  opacity: 1;
}

.cost-chart-bar-label.white {
  fill: #fff;
}

.cost-chart-bar-label.red {
  fill: #E71B4F;
}

.cost-chart .tick text {
  transform: translate(0, 15px);
  font-size: 1.5rem;
  fill: #fff;
}

.adoption-chart .y.axis .tick text,
.customers-chart .y.axis .tick text {
  transform: translate(-5px, 0px);
}

.adoption-chart .y.axis .tick:first-child text,
.customers-chart .y.axis .tick:first-child text {
  transform: translate(-5px, -5px);
}

.adoption-chart .x.axis .tick text,
.customers-chart .x.axis .tick text {
  transform: translate(0px, 5px);
}

.adoption-chart .x.axis .tick:first-child text,
.customers-chart .x.axis .tick:first-child text {
  transform: translate(15px, 5px);
}

.shape-wrap .cost-arrow {
  position: relative;
}

.story.cost .chart-wrap {
  float: left;
  width: 690px;
  margin-right: 90px;
}

.story.cost .shape-wrap {
  float: left;
  width: 300px;
}

.shape-wrap .cost-percent-wrap {
  position: absolute;
  bottom: 70px;
  left: 0;
  text-align: center;
  width: 100%;
}

.shape-wrap .cost-percent-num {
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: bold;
  color: #fff;
}

.shape-wrap .cost-percent-label {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.shape-wrap .box {
  width: 300px;
  height: 0px;
  transition: height 2s;
  background: #5AC9E7;
}

.shape-wrap .box.full {
  height: 300px;
}

.story {
  background-size: cover!important;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.story.main {
  background-image: url('../images/general_background.jpg');
}

.story.top {
  background-image: url('../images/bb_numbers_header_3.jpg');
}

.adoption-chart .y.axis .tick line,
.customers-chart .y.axis .tick line {
  opacity: 0.2;
  stroke-dasharray: 3 3;
}

.axis-label {
  font-size: 1.125rem;
}

.top .down-arrow-wrap {
  position: absolute;
  bottom: 10vh;
  z-index: 10;
  width: 100%;
  text-align: center;
}

.top .down-arrow {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 12px;
  margin-top: 40px;
  transform: translateY(0) rotate(45deg);
}

.story {
  height: 100vh;
  position: relative;
}

.story.blue {
  background-color: #222943;
}

h2.section-title {
  font-size: 2.5rem;
  letter-spacing: -.2px;
  line-height: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
  color: #343F49;
}

.story.blue h2.section-title,
.story.image-section h2.section-title {
  color: #fff;
}

.story.blue .section-text,
.story.image-section .section-text {
  color: #fff;
}

.section-text {
  font-size: 1.375rem;
  line-height: 1.625rem;
  margin-top: 22.5px;
  max-width: 800px;
}

.section-text p {
  margin: 0;
}

.section-link {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 22.5px;
}

.section-link a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 2px;
  color: #fff;
  position: relative;
}

.section-link a:after {
  content: '';
  position: absolute;
  height: 2px;
  left: 0;
  right: auto;
  bottom: 0;
  width: 100%;
  background: #fff;
  transition: 0.3s width ease-in;
}

.section-link a:hover {
  color: #5AC9E7;
}

.section-link a:hover:after {
  width: 0;
}

.section-content {
  margin-top: 90px;
}

.stat {
  float: left;
  width: 525px;
  font-weight: bold;
}

.stat.one,
.stat.three {
  margin-right: 90px;
}

.stat.one,
.stat.two {
  margin-bottom: 90px;
}

.stat-num {
  color: #5AC9E7;
  font-size: 4.375rem;
  line-height: 4.375rem;
  float: left;
  width: 130px;
  margin-right: 45px;
}

.stat-text {
  font-size: 1.5rem;
  line-height: 1.625rem;
  color: #fff;
  float: left;
  width: 350px;
}

.chart-source {
  font-size: 1rem;
  color: #ccc;
  margin-top: 22.5px;
}

.static-chart {
  width: 680px;
  margin-right: 90px;
  float: left;
}

.static-chart-stat {
  float: left;
  width: 370px;
  text-align: right;
  font-weight: bold;
  margin-top: 90px;
}

.chart-stat-num {
  font-size: 4.375rem;
  line-height: 4.375rem;
  color: #fff;
}

.chart-stat-text {
  font-size: 1.5rem;
  line-height: 1.625rem;
  color: #fff;
  margin-top: 11.25px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0) rotate(45deg);
  }
  40% {
    transform: translateY(-30px) rotate(45deg);
  }
  60% {
    transform: translateY(-15px) rotate(45deg);
  }
}

.investment .animated-chart {
  float: left;
  width: 500px;
  margin-right: 90px;
}

.investment .animation-container {
  position: relative;
  display: inline-block;
}

.investment .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.investment .map-outline {
  fill: #E71B4F;
  stroke: #E71B4F;
  stroke-miterlimit:10;
  fill-rule:evenodd;
  fill-opacity: 0;
}

.active.investment svg polygon {
  stroke-width: 2px;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration: 1;
  animation-name: outline, fillin;
  animation-duration: 5s, .5s;
  animation-delay: 0s, 4s;
}

.animated-chart-stats {
  float: left;
  width: 550px;
  font-weight: bold;
  color: #fff;
}

.animated-chart-stat {
  margin-top: 33.75px;
}

.animated-chart-stat .chart-stat-num {
  float: left;
  width: 190px;
  font-size: 4.375rem;
  line-height: 4.375rem;
  margin-right: 22.5px;
}

.animated-chart-stat .chart-stat-text {
  float: left;
  width: 337.5px;
  font-size: 1.5rem;
  line-height: 1.625rem;
}

.speed-chart .line {
  stroke-width: 3;
}

.speed-chart .x.axis text {
  fill: #ccc;
  font-size: 1.25rem;
}

.speed-chart .speed-number {
  font-size: 32px;
  font-weight: bold;
  opacity: 0;
}

.speed-chart .speed-label {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0;
}

.speed-chart .x.axis .tick line,
.speed-chart .x.axis path {
  opacity: 0;
}

.networks .animated-chart {
  float: right;
  width: 300px;
  margin-left: 90px;
}

.networks .animated-chart-stats {
  width: 650px;
}

.networks .animated-chart-stat.one {
  margin-top: 0;
}

.networks .animated-chart-stat .chart-stat-text {
  width: 437.5px;
}

.networks .house-outline {
  fill: #E71B4F;
  stroke: #E71B4F;
  stroke-miterlimit:10;
  fill-rule:evenodd;
  fill-opacity: 0;
}

.active.networks svg path {
  stroke-width: 2px;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration: 1;
  animation-name: outline, fillin;
  animation-duration: 5s, .5s;
  animation-delay: 0s, 2s;
}

.wifi .stat-num {
  width: 180px;
  color: #fff;
}

.wifi .stat-text {
  width: 300px;
}

.cost .chart-description {
  float: left;
  width: 300px;
  margin-right: 90px;
  font-size: 1.5rem;
  line-height: 1.625rem;
  color: #fff;
  font-weight: bold;
}

.cost .chart-block {
  float: left;
  width: 750px;
}

.cost .cost-chart {
  float: left;
  width: 555px;
}

.cost .cost-arrow {
  float: left;
  width: 150px;
  margin-left: 45px;
}

.cost .cost-num {
  color: #5AC9E7;
  font-size: 4.375rem;
  line-height: 4.375rem;
  margin-bottom: 11.25px;
  font-weight: bold;
  text-align: center;
}

.cost .cost-label {
  font-size: 1.5rem;
  line-height: 1.625rem;
  color: #5AC9E7;
  font-weight: bold;
  text-align: center;
}

.cost .cost-arrow-wrap {
  text-align: center;
}

.cost .down-arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid #5AC9E7;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 30px;
}

.cost-chart .x.axis path {
  opacity: 0;
}


@keyframes outline{
  to{
    stroke-dashoffset: 0;
  }
}
@keyframes fillin {
  from {
    fill-opacity: 0;
  }

  to {
    fill-opacity: 1;
  }
}


@media all and (min-width: 1200px) {
  .speed-chart,
  .cost-chart {
    min-height: 400px;
  }
}

@media all and (max-width: 1199px) {
  .pagination {
    right: 10px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .wrap {
    width: 970px;
  }
  .cost-chart {
    min-height: 200px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .wrap {
    width: 750px;
  }
}

@media all and (max-width: 991px) {

  h2.section-title {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

@media all and (max-width: 767px) {
  .story.cost .chart-wrap {
    width: 100%;
    margin-right: 0;
  }

  .story.cost .shape-wrap {
    display: none;
    visibility: hidden;
  }

  .stat-col br {
    display: none;
  }
  .stat-col.one,
  .stat-col.three {
    float: none;
    margin-left: 0;
  }
  .stat-col.two {
    float: none;
    margin-right: 0;
  }
  .stat-wrap {
    margin: 0 auto;
  }
  .pagination {
    display: none;
  }
}

@media all and (max-width: 599px) {
  .wrap {
    padding: 22.5px;
  }
}
